.sender-info-form {
  width: 60%;
  border: 1px solid gray;
  border-right: 0;
  border-bottom: 0;
  margin: 0 auto;
  margin-bottom: 100px;

  & label,
  input {
    padding-left: 5px !important;
  }

  &__title {
    text-align: center;
  }

  &__row {
    display: flex;
  }

  &__textfield {
    border-right: 1px solid gray !important;
  }
}
